<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
 <div class="blue">
<h1><%=title%></h1>
</div>
<form  method="post"	action="back">
   <input  id="gr" type ="submit" value="Back"/>
 	</form>
<form  method="post"	action="logout">
 	  <input id="logout" type ="submit" value="logout"/>
 	</form>
    <div class="cal">
    <p>Welcome to <%=title%></p>
    
 	</div>
 	</form>
  </body>
</html>